.card {
  background: white;

  border-radius: 16px;

  padding: 16px;

  display: flex;
  flex-direction: column;

  gap: 12px;

  box-shadow: 0 5px 20px rgb(0 0 0 / 0.08);
}

.preview {
  height: 80px;

  border-radius: 12px;
}

.actions {
  display: flex;

  gap: 10px;
}

.actions button {
  flex: 1;
}
